<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <import resource="classpath:applicationContext-common.xml"/>

    <bean id="com.gans.vk.httpclient.HttpVkConnector" class="com.gans.vk.httpclient.HttpVkConnector">
        <property name="authCookieDomain" value="${vk.auth.cookieDomain}" />
        <property name="authLoginParamsPattern" value="${vk.auth.loginParamsPattern}" />
        <property name="contentType" value="${vk.header.content-type}" />
        <property name="userAgent" value="${vk.header.user-agent}" />
        <property name="vkDomain" value="${vk.domain}" />
        <property name="login" value="${vk.login}" />
        <property name="pass" value="${vk.pass}" />
    </bean>

    <bean id="com.gans.vk.processors.VkUserAudioResponseProcessor" class="com.gans.vk.processors.VkUserAudioResponseProcessor">
        <property name="vkConnector" ref="com.gans.vk.httpclient.HttpVkConnector" />
        <property name="vkAudioUrl" value="${vk.audio.url}" />
        <property name="vkAudioEntityPattern" value="${vk.audio.entityPattern}" />
    </bean>

    <bean id="com.gans.vk.processors.VkUserPageResponseProcessor" class="com.gans.vk.processors.VkUserPageResponseProcessor">
        <property name="vkConnector" ref="com.gans.vk.httpclient.HttpVkConnector" />
        <property name="vkDomain" value="${vk.domain}" />
        <property name="minVkAudioLibSize" value="${crawler.id.minAudioLibrarySize}" />
    </bean>

    <bean id="com.gans.vk.processors.VkGroupInfoResponseProcessor" class="com.gans.vk.processors.VkGroupInfoResponseProcessor">
        <property name="vkConnector" ref="com.gans.vk.httpclient.HttpVkConnector" />
        <property name="vkDomain" value="${vk.domain}" />
    </bean>

    <bean id="com.gans.vk.processors.VkGroupMembersResponseProcessor" class="com.gans.vk.processors.VkGroupMembersResponseProcessor">
        <property name="vkConnector" ref="com.gans.vk.httpclient.HttpVkConnector" />
        <property name="vkGroupMembersUrl" value="${vk.groupMembers.url}" />
        <property name="vkGroupMembersEntityPattern" value="${vk.groupMembers.entityPattern}" />
    </bean>

    <bean id="com.gans.vk.service.AudioDiscoveryService" class="${audio_discovery_service_id}"> <!-- com.gans.vk.service.impl.AudioDiscoveryServiceImpl"> -->
        <property name="songService" ref="com.gans.vk.service.SongService" />
        <property name="ratingService" ref="com.gans.vk.service.RatingService" />
        <property name="userService" ref="com.gans.vk.service.UserService" />
        <property name="vkAudioProcessor" ref="com.gans.vk.processors.VkUserAudioResponseProcessor" />
        <property name="vkUserPageProcessor" ref="com.gans.vk.processors.VkUserPageResponseProcessor" />
    </bean>

    <bean id="com.gans.vk.service.GroupDiscoveryService" class="com.gans.vk.service.impl.GroupDiscoveryServiceImpl">
        <property name="groupService" ref="com.gans.vk.service.GroupService" />
        <property name="vkGroupProcessor" ref="com.gans.vk.processors.VkGroupInfoResponseProcessor" />
        <property name="vkGroupMembersProcessor" ref="com.gans.vk.processors.VkGroupMembersResponseProcessor" />
    </bean>

</beans>
