.audiojs {
    background: -moz-linear-gradient(center top , #444 0%, #555 50%, #444 51%, #444 100%) repeat scroll 0 0 #404040;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    font-family: monospace;
    font-size: 12px;
    height: 36px;
    overflow: hidden;
    width: 460px;
}

ol.audioList {
    border-top: 1px solid #ccc;
    color: #ccc;
    font-size: 10px;
    list-style: decimal-leading-zero outside none;
    margin: 0;
    padding: 75px 0 15px 0;
    width: 460px;
}

ol.audioList li.playing:before {
    color: #000;
    content: "♬";
    font-size: 13px;
    left: -16px;
    position: absolute;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    top: 16px;
}

ol.audioList li.playing {
    color: #aaa;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

ol.audioList li {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    margin: 0 0 0 20px;
    padding: 2px;
    position: relative;
}

ol.audioList .songWrap {
    color: #888;
    font-size: 14px;
}

ol.audioList li.playing .songWrap {
    color: #000;
}

ol.audioList .artistRatingStats {
    display: inline;
    margin-left: 4px;
    font-weight: bold;
    opacity: .85;
}

.artistRatingStats.artistRate_1 {
    color: rgb(169,68,66);
}

.artistRatingStats.artistRate_2 {
    color: rgb(193,117,81);
}

.artistRatingStats.artistRate_3 {
    color: rgb(212,156,94);
}

.artistRatingStats.artistRate_4 {
    color: rgb(237,206,94);
}

.artistRatingStats.artistRate_5 {
    color: rgb(225, 215, 92);
}

.artistRatingStats.artistRate_6 {
    color: rgb(219,219,90);
}

.artistRatingStats.artistRate_7 {
    color: rgb(164,184,83);
}

.artistRatingStats.artistRate_8 {
    color: rgb(108,148,76);
}

.artistRatingStats.artistRate_9 {
    color: rgb(60,118,61);
}

.songWrap .titleWrap {
    width: 400px;
    float: left;
}

.titleWrap .artist {
    width: 170px;
    text-overflow: elipsis;
    overflow: hidden;
}

.songWrap .songMeta {
    width: 60px;
    display: inline;
    font-size: 12px;
}

.stars {
    display: inline-block;
    margin: 0;
    width: 70px;
}

.stars span, .stars label, .stars input {
    cursor: pointer;
}

.stars input[type=radio]:not(old) {
    margin: 0;
    padding: 0;
    opacity: 0;
    width: 10px;
    height: 10px;
}

.stars input[type=radio]:not(old) + label {
    display: inline-block;
    margin-left: -15px;
}

.stars input[type=radio]:not(old) + label > span {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 2px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 3px;
    background: -moz-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    vertical-align: bottom;
}

.stars input[type=radio]:not(old):checked + label.star1 > span {
    background-image: -moz-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
}

.stars input[type=radio]:not(old):checked + label > span > span {
    display: block;
    width: 6px;
    height: 6px;
    margin: 1px;
    border-radius: 3px;
}

.stars input[type=radio]:not(old):checked + label.star1 > span > span {
    background-image: -moz-linear-gradient(rgb(173,72,70), rgb(169,68,66));
}

.stars input[type=radio]:not(old):checked + label.star2 > span > span {
    background-image: -moz-linear-gradient(rgb(216,160,100), rgb(212,156,94));
}

.stars input[type=radio]:not(old):checked + label.star3 > span > span {
    background-image: -moz-linear-gradient(rgb(229,219,96), rgb(225,215,92));
}

.stars input[type=radio]:not(old):checked + label.star4 > span > span {
    background-image: -moz-linear-gradient(rgb(168,188,87), rgb(164,184,83));
}

.stars input[type=radio]:not(old):checked + label.star5 > span > span {
    background-image: -moz-linear-gradient(rgb(64,122,65), rgb(60,118,61));
}

#audioPlayer {
    position: fixed;
    z-index: 100;
    background: none repeat scroll 0 0 #f6f6f0;
    box-shadow: 0 5px 5px 5px #f6f6f0;
    color: #330;
}

#audioPlayer .scrubber {
    cursor: pointer;
}

#audioPlayer .time {
    width: 100px;
    padding: 0 0 0 10px;
    line-height: 18px;
}

#audioPlayer input#volumeSlider {
    height: 15px;
    width: 70px;
    cursor: pointer;
    background: -moz-linear-gradient(center top , rgb(68, 68, 68) 0%, rgb(85, 85, 85) 50%, rgb(68, 68, 68) 51%, rgb(68, 68, 68) 100%) repeat scroll 0px 0px rgb(64, 64, 64);
}

#audioPlayer .currentSong {
    margin: 5px 0 3px 3px;
    width: 460px;
    height: 24px;
    overflow: hidden;
    text-shadow: 1px 1px 0 rgba(100, 100, 100, 0.3);
}

#audioPlayer .currentSong .currentArtist {
    font-weight: bold;
    color: rgba(3, 3, 0, 0.7);
}

#userStats {
    position: fixed;
    z-index: 110;
    width: 500px;

}
