.audiojs {
    background: -moz-linear-gradient(center top , #444 0%, #555 50%, #444 51%, #444 100%) repeat scroll 0 0 #404040;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    font-family: monospace;
    font-size: 12px;
    height: 36px;
    overflow: hidden;
    width: 460px;
}

ol.audioList {
    border-top: 1px solid #ccc;
    color: #ccc;
    font-size: 10px;
    list-style: decimal-leading-zero outside none;
    margin: 0;
    padding: 75px 0 15px 0;
    width: 460px;
}

ol.audioList li.playing:before {
    color: #000;
    content: "♬";
    font-size: 13px;
    left: -16px;
    position: absolute;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    top: 16px;
}

ol.audioList li.playing {
    color: #aaa;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

ol.audioList li {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    margin: 0 0 0 20px;
    padding: 2px;
    position: relative;
}

ol.audioList .songWrap {
    color: #888;
    font-size: 14px;
}

ol.audioList li.playing .songWrap {
    color: #000;
}

.songWrap .titleWrap {
    width: 400px;
    float: left;
}

.titleWrap .artist {
    width: 170px;
    text-overflow: elipsis;
    overflow: hidden;
}

.songWrap .songMeta {
    width: 60px;
    display: inline;
    font-size: 12px;
}

.stars {
    display: inline-block;
    margin: 0;
}

.stars input {
    margin: 4px 0 0 0;
    cursor: pointer;
}

#audioPlayer {
    position: fixed;
    z-index: 100;
    background: none repeat scroll 0 0 #f6f6f0;
    box-shadow: 0 5px 5px 5px #f6f6f0;
    color: #330;
}

#audioPlayer .scrubber {
    cursor: pointer;
}

#audioPlayer .time {
    width: 100px;
    padding: 0 0 0 10px;
    line-height: 18px;
}

#audioPlayer input#volumeSlider {
    height: 15px;
    width: 70px;
    cursor: pointer;
    background: -moz-linear-gradient(center top , rgb(68, 68, 68) 0%, rgb(85, 85, 85) 50%, rgb(68, 68, 68) 51%, rgb(68, 68, 68) 100%) repeat scroll 0px 0px rgb(64, 64, 64);
}

#audioPlayer .currentSong {
    margin: 5px 0 3px 3px;
    width: 460px;
    height: 24px;
    overflow: hidden;
    text-shadow: 1px 1px 0 rgba(100, 100, 100, 0.3);
}

#audioPlayer .currentSong .currentArtist {
    font-weight: bold;
    color: rgba(3, 3, 0, 0.7);
}
