body {
    background: none repeat scroll 0 0 #f6f6f0;
    font-family: Comic Sans MS, lucida console;
    color: #330;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    width: 460px;
}

.separator {
    clear: both;
}
