body {
    background: none repeat scroll 0 0 #f6f6f0;
    font-family: Comic Sans MS, lucida console;
    color: #330;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    width: 460px;
}

.sidePanel {
    position: fixed;
    margin: 10px 0 0 10px;
}

.sidePanel a {
    text-decoration: none;
    color: #000;
}

.separator {
    clear: both;
}
