<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{MM-dd HH:mm:ss} %p [%t] %c{2}  %m%n"/>
        </layout>
    </appender>

    <appender name="FILELOG" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="C:/tmp/vkCrawler/logs/vk_crawler.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{MM-dd HH:mm:ss.sss} %p [%t] %c{2}  %m%n"/>
        </layout>
    </appender>

    <logger name="com.gans.vk">
        <level value="INFO"/>
    </logger>
    <logger name="com.gans.vk.id.service.impl">
        <level value="INFO"/>
    </logger>
    <logger name="com.gans.vk.audio.service.impl">
        <level value="DEBUG"/>
    </logger>

    <root>
        <level value="WARN"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILELOG"/>
    </root>

</log4j:configuration>
